APScheduler==3.10.4
customtkinter==5.2.1
darkdetect==0.8.0
msgpack==1.0.7
msgpack-numpy==0.4.8
msgpack-python==0.5.6
numpy==1.26.2
packaging==23.2
psutil==5.9.6
python-banyan==3.14
pytz==2023.3.post1
pyzmq==25.1.2
six==1.16.0
tzdata==2023.3
tzlocal==5.2
websockets==12.0
